<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('first_page_after_login') }}">Start</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('alcohol') }}">Alcohol <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('groups') }}">Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('consumption') }}">Consumptions</a>
            </li>
        </ul>
        <span class="navbar-text">
            {% if app.user %}
                <a href="{{ logout_path('main') }}" class="btn btn-warning" >Logout</a>
            {% endif %}
    </span>
    </div>
</nav>