{% extends 'base.html.twig' %}

{% block body %}
    {% include('navbar.html.twig') %}
    {% include('flash-messages.html.twig') %}
    <a href="{{ path('create_consumption') }}" class="btn btn-primary">Add what you've drunk</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Date</th>
            <th scope="col">Alcohol</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        {% for cons in consumption %}
            <tr>
                <td>{{ cons.user.username }}</td>
                <td>{{ cons.date|date('Y-m-d') }}</td>
                <td>{{ cons.alcohol.name }}</td>
                <td>
                    <a href="{{ path('delete_consumption', {'consumption': cons.id}) }}" class="btn btn-danger">Delete</a>
                    <a href="{{ path('edit_consumption', {'consumption': cons.id}) }}" class="btn btn-secondary">Update</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No records found</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}